div{
    text-align: center;
    align-items: center;
    box-sizing: content-box;
    margin: 5px;
    padding: 5px;
    color: white;
    font-family: 'Itim', cursive;
    background-color: #44a0a0;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
        }
h2{
    text-shadow: 2px 2px 1px rgb(91, 92, 95);
    color: rgb(247, 173, 82);
}

button{
    background-color: rgb(247, 173, 82);
    color: white;
    border-radius: 5px;

}
input{
      color: white;
      background-color: gray;
      border-radius: 5px;
}
a{
      color: white;
      margin-left: 5px;
      margin-right: 5px;
}
button:hover{
      background-color:rgb(83,83,82);
    }